---
interface Props {
	title?: string;
	logo?: string;
	tagline?: string;
	align?: 'start' | 'center';
}

const { align = 'center', tagline, title, logo } = Astro.props;
---

<div class:list={['hero stack gap-4', align]}>
	<div class="stack gap-2">
		{logo &&
			<img class="logo" draggable="false" width="360" src={logo};
			>
		}
		{title &&
			<h1 class="title">{title}</h1>
		}
		{tagline && <p class="tagline">{tagline}</p>}
	</div>
	<slot />
</div>

<style>
	.hero {
		font-size: var(--text-lg);
		text-align: center;
	}

	.logo {
		user-select: none;
		-webkit-user-drag: none;
		filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.25));
		align-self: center;
		margin-bottom: 20px;
	}

	.title,
	.tagline {
		max-width: 37ch;
		margin-inline: auto;
	}

	.title {
		font-size: var(--text-3xl);
		color: var(--gray-0);
	}

	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-xl);
		}

		.start {
			text-align: start;
		}

		.start .title,
		.start .tagline {
			margin-inline: unset;
		}

		.title {
			font-size: var(--text-5xl);
		}
	}
</style>
