---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

import Footer from '../components/Footer.astro';
// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;

const isBetaPage = Astro.url.pathname.startsWith('/beta-games');
---

<html lang="he" data-is-beta={isBetaPage}>
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body oncontextmenu="return false">
		<div class="stack backgrounds">
			<Nav />
			<slot />
			<Footer />
		</div>

		<script>
			const isBetaPage = document.documentElement.dataset.isBeta === 'true';
			document.documentElement.classList[isBetaPage ? 'add' : 'remove']('theme-beta');
		</script>

		{!isBetaPage && (
			<img src="/assets/Hello_GerOriki.png" draggable="false" class="side-image">
		)}

		<script>
			// Add “loaded” class once the document has completely loaded.
			addEventListener('load', () => document.documentElement.classList.add('loaded'));
		</script>

		<style>
			:root {
				--_placeholder-bg: linear-gradient(transparent, transparent);
				--bg-image-subtle-1: var(--_placeholder-bg);
				--bg-image-subtle-2: var(--_placeholder-bg);
				--bg-image-footer: var(--_placeholder-bg);
				--bg-svg-blend-mode: overlay;
				--bg-blend-mode: darken;
				--bg-image-aspect-ratio: 2.25;
				--bg-scale: 1.68;
				--bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));
				--bg-gradient-size: calc(var(--bg-scale) * 100%);
			}

			.side-image {
				position: fixed;
				top: 50%;
				left: 0;
				transform: translate(-50%, -50%) rotate(60deg);
				width: 80px;
				height: auto;
				z-index: 1000;
				user-select: none;
				-webkit-user-drag: none;
				filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.3));
			}


			/* These backgrounds are displayed below the fold, so we lazy load them
			   once the `.loaded` class has been set.  */

			.backgrounds {
				min-height: 100%;
				isolation: isolate;
				background:
					/*noise*/
					url('/assets/backgrounds/noise.png') top center/220px repeat,
					/*footer*/ var(--bg-image-footer) bottom center/var(--bg-gradient-size) no-repeat,
					/*header1*/ var(--bg-image-main-curves) top center/var(--bg-gradient-size) no-repeat,
					/*header2*/ var(--bg-image-main) top center/var(--bg-gradient-size) no-repeat,
					/*base*/ var(--gray-999);
				background-blend-mode: /*noise*/
					overlay,
					/*footer*/ var(--bg-blend-mode),
					/*header1*/ var(--bg-svg-blend-mode),
					/*header2*/ normal,
					/*base*/ normal;
			}
			@media (forced-colors: active) {
				/* Deactivate custom backgrounds for high contrast users. */
				.backgrounds {
					background: none;
					background-blend-mode: none;
					--bg-gradient-size: none;
				}
			}
		</style>
	</body>
</html>
